<body>
    <div id="page-wrapper">
        <!-- Header -->
        @Html.Partial("_defaultHeader")

        @using test_mvc_website.Models
        @model LoginViewModel
        @{
            ViewBag.Title = "Log in";
            ViewBag.ReturnUrl = "HowItWorks";
        }
        <section id="main" class="container">

            <header>
                <h2>Welcome Back!</h2>
                <p>Please provide your login credentials</p>
            </header>
            <div style="margin-right: auto; margin-left: auto; max-width: 32em;">
                <section class="box">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row uniform 50%">
            <div class="12u">

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Email) })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="row uniform 50%">
                <div class="12u">

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Password) })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">

                    @Html.CheckBoxSimple("RememberMe", htmlAttributes: new { })
                    @Html.LabelFor(m => m.RememberMe)

                </div>
            </div>
            <div class="row uniform">
                <div class="6u 12u(mobilep)">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="button special" />
                    </div>
                </div>
            </div>
            <p>
                Don't have an account? @Html.ActionLink("Sign up now", "Index", "Home")
            </p>
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
            }
    </section>
            </div>
        </section>

        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

        <!--footer-->
        @Html.Partial("_footer")
    </div>


</body>