<body>
    <div id="page-wrapper">
        <!-- Header -->
        @Html.Partial("_defaultHeader")

        @model IEnumerable<test_mvc_website.App_Data.CollegeProfessional>

        @{
            ViewBag.Title = "Index";
        }
        <section id="main" class="container">
            <header>
                <h2>Elements</h2>
                <p>Nunc at lobortis vulputate et convallis.</p>
            </header>
            <div class="">

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <div class="table-wrapper" style="overflow-x:visible">
                    <table>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AreaOfStudy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.YearsWorked)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HowDidYouHearAboutUs)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AllowFeedbackEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AllowSurvey)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AllowCall)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AreaOfStudy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.YearsWorked)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HowDidYouHearAboutUs)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @if (item.AllowFeedbackEmail)
                                    {

                                        @Html.CheckBoxSimple("AllowFeedbackEmail", htmlAttributes: new { @checked = "" })
                                        <label></label>
                                    }
                                    else
                                    {
                                        @Html.CheckBoxSimple("AllowFeedbackEmail", null)
                                        <label></label>
                                    }
                                </td>
                                <td>

                                    @if (item.AllowSurvey)
                                    {
                                        @Html.CheckBoxSimple("AllowSurvey", htmlAttributes: new { @checked = "" })
                                        <label></label>
                                    }
                                    else
                                    {
                                        @Html.CheckBoxSimple("AllowSurvey", null)
                                        <label></label>
                                    }
                                </td>
                                <td>
                                    @if (item.AllowCall)
                                    {

                                        @Html.CheckBoxSimple("AllowCall", htmlAttributes: new { @checked = "" })
                                        <label></label>
                                    }
                                    else
                                    {
                                        @Html.CheckBoxSimple("AllowCall", null)
                                        <label></label>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </section>


        <!--footer-->
        @Html.Partial("_footer")
    </div>


</body>