@{
    ViewBag.Title = "The Launch Link";
    ViewBag.Company = "The Launch Link";
}

<body class="landing">
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <h1>@Html.ActionLink("The Launch Link", "Index", "Home")</h1>
            <nav id="nav">
                <ul>
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </header>
        <!-- Banner -->
        <section id="banner">
            <h2>@ViewBag.Company</h2>
            @*<p>A marketplace that’s revolutionizing the way businesses fulfill their data, analytics and business intelligence needs by bringing them together with university professors and top tier college students who are looking to take on challenging problems.</p>*@
           <p>How it works</p>
             <ul class="actions">
                <li><a href="~/BusinessProfessionals/create" class="button special">Business Professional</a></li>
                <li><a href="~/collegeProfessionals/create" class="button">University Talent</a></li>
            </ul>
        </section>



        <!-- Main -->
        <section id="main" class="container">

            <section class="box special">
                <header class="major">
                    <h2>
                        The future of Analitics Consutling
                    </h2>
                    <p>
                       We are a marketplace that’s revolutionizing the way businesses fulfill their data, analytics and business intelligence needs by bringing them together with university professors and top tier college students who are looking to take on challenging problems.
                    </p>
                </header>
                @*<span class="image featured"><img src="~/images/pic01.jpg" alt="" /></span>*@
            </section>

            <section class="box special features">
                <div class="features-row">
                    <section>
                        <span class="icon major fa-bolt accent2"></span>
                        <h3>Magna etiam</h3>
                        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    </section>
                    <section>
                        <span class="icon major fa-area-chart accent3"></span>
                        <h3>Ipsum dolor</h3>
                        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    </section>
                </div>
                <div class="features-row">
                    <section>
                        <span class="icon major fa-cloud accent4"></span>
                        <h3>Sed feugiat</h3>
                        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    </section>
                    <section>
                        <span class="icon major fa-lock accent5"></span>
                        <h3>Enim phasellus</h3>
                        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                    </section>
                </div>
            </section>

            <div class="row">
                <div class="6u 12u(narrower)">

                    <section class="box special">
                        <span class="image featured"><img src="~/images/pic02.jpg" alt="" /></span>
                        <h3>Sed lorem adipiscing</h3>
                        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                        <ul class="actions">
                            <li><a href="#" class="button alt">Learn More</a></li>
                        </ul>
                    </section>

                </div>
                <div class="6u 12u(narrower)">

                    <section class="box special">
                        <span class="image featured"><img src="~/images/pic03.jpg" alt="" /></span>
                        <h3>Accumsan integer</h3>
                        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                        <ul class="actions">
                            <li><a href="#" class="button alt">Learn More</a></li>
                        </ul>
                    </section>

                </div>
            </div>

        </section>


        <!--footer-->
        @Html.Partial("_footer")
        </div>


</body>